{% extends 'base.html' %} 
{% block title_block %}Doctor Profile{% endblock %} 
{% block body_block %}
<div class="container text-center">
  <h2>Your Profile</h2>
  {% if user.doctor_profile %}
  <img src='/media/{{ user.doctor_profile.profile_pic }}' class="rounded-circle" width="150px">
  <br><br>
  <a href="{% url 'App_Login:change_doctor_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
  {% else %}
  <img src='/media/profile_pics/avatar-male.jpg' class="rounded-circle" width="150px"/>
  <br><br>
  <a href="{% url 'App_Login:add_doctor_pro_pic' %}" class="btn btn-info btn-sm">Add Profile Picture</a>
  {% endif %}
  <br><br>
  {% for doctor in doc %}
  <div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <p class="card-text">Username: {{ user.username }}</p>
      <p class="card-text">Email: {{ user.email }}</p>
      <p class="card-text">Doctor Full Name: {{ doctor.doctor_full_name }}</p>
      <p class="card-text">Doctor Phone Number: {{ doctor.phone }}</p>
      <p class="card-text">Doctor Specialization: {{ doctor.spe }}</p>
      <p class="card-text">Doctor Designation: {{ doctor.designation }}</p>
      <p class="card-text">Doctor Degrees: {{ doctor.degree }}</p>
      <p class="card-text">Doctor Current Working Place: {{ doctor.current_working_place }}</p>
      <p class="card-text">Doctor Mbbs Institution: {{ doctor.mbbs_institution }}</p>
      <p class="card-text">Doctor Post Graduation Institution: {{ doctor.post_graduation_institution }}</p>
    </div>
  </div>
  {% endfor %}
  <br>
  <a href="{% url 'App_Login:doctor_change'  %}" class="btn btn-warning btn-sm">Change Profile Info</a>
</div>
{% endblock %}
