{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title_block %} Create Doctor New Account {% endblock %} 
{% block body_block %} 
{% if registered %}
<div class="alert allert-success">
  Account Created Successfully! <a href="{% url 'App_Login:login' %}">Login Here</a>
</div>
{% else %}
<div class="container">
  <h2 class="text-center">Create Doctor New Account Here</h2>
  <form method="post" >
    {% csrf_token %}

    <label>User Name</label>
    <input type="text" class="form-control" name="username" required />
    <label> Doctor Full Name</label>
    <input type="text" class="form-control" name="doctor_full_name" required />
    <label>Email</label>
    <input type="text" class="form-control" name="email" required />
    <label>Phone Number</label>
    <input type="text" class="form-control" name="phone" required />
    <label>Specialization</label>
    <input type="text" class="form-control" name="spe" required />
    <label>Designation</label>
    <input type="text" class="form-control" name="designation" required />
    <label>Degrees</label>
    <input type="text" class="form-control" name="degree" required />
    <label>Current Working Place</label>
    <input type="text" class="form-control" name="current_working_place" required />
    <label>Mbbs Institution</label>
    <input type="text" class="form-control" name="mbbs_institution" required />
    <label>Post Graduation Institution</label>
    <input type="text" class="form-control" name="post_graduation_institution" required />
    <label>Password</label>
    <input type="password" class="form-control" name="password1" required />
    <label>Confirm Password</label>
    <input type="password" class="form-control" name="password2" required />
    <br />
    <input type="submit" value="Submit" class="form-control btn btn-primary" />
  </form>
</div>

<br />
<p>Already have an account ? <a href="{% url 'App_Login:login' %}">Login Here</a></p>
{% endif %} 
{% endblock %}