{% extends 'base.html' %}
{% block title_block %}Doctor Profile{% endblock %}
{% block body_block %}
<div class="container mt-5"> <!-- Increased margin-top for space from Navbar -->
    <div class="row">
        <div class="col-md-4">
            <br>
            <br>
            <!-- Left column for profile picture -->
            <img src='/media/{{ doc.profile_pic }}' class="rounded-circle" width="150px">
        </div>
        <div class="col-md-8">
            <!-- Right column for profile details -->
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center py-2">
                    <h5>Doctor Profile</h5>
                </div>
                <div class="card-body">
                    <div style="font-size: 14px;">
                        <!-- Profile details -->
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>Full Name:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.doctor_full_name }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>Phone Number:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.phone }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>Specialization:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.spe }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>Designation:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.designation }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>Degrees:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.degree }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>Current Working Place:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.current_working_place }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>MBBS Institution:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.mbbs_institution }}
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <strong>Post Graduation Institution:</strong>
                            </div>
                            <div class="col-md-6">
                                {{ doc.post_graduation_institution }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}













