{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Login {% endblock %}
{% block body_block %}



<div class="container">
    <h2 class="text-center">Login :</h2>
    <form method="post" >
      {% csrf_token %}
      <label>User Name</label>
      <input type="text" class="form-control" name="username" required />
      <label>Password</label>
      <input type="password" class="form-control" name="password" required />
      <br />
      <input type="submit" value="Submit" class="form-control btn btn-primary" />
    </form>
  </div>

{% endblock %}