{% extends 'base.html' %} 
{% block title_block %}Patient Profile {% endblock %} 
{% block body_block %}
<h2>Patient Profile</h2>
<br>
{% if  pat %}
<img src='/media/{{ i.patient_image }}' class="rounded-circle" width="100px">
<br>
<br>
<a href="{% url 'App_Login:change_patient_pic' i.id  %}" class="btn btn-info btn-sm">Change Patient Picture</a>
{% else %}
<img src='/media/profile_pics/avatar-male.jpg' class="rounded-circle" width="100px"/>
<br>
<br>
<a href= "{% url 'App_Login:add_patient_pic' i.id  %}" class="btn btn-info btn-sm">Change Patient Picture</a>
{% endif %}
{% for i in pat %}
<br>
<br>
<p>Patient Name: {{ i.name }} </p>
<p>Gender: {{ i.gender }} </p>
<p>Blood Group: {{ i.patient_blood_group }} </p>
<p>Mobile : {{ i.mobile }} </p>
<p>Age: {{ i.age }} </p>
<p>Address : {{ i.address }} </p>
<br>
{% endfor %}

{% endblock %}