{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title_block %} Create New Account {% endblock %} 
{% block body_block %} 

{% if registered %}
<div class="alert allert-success">
  Account Created Successfully! <a href="{% url 'App_Login:login' %}">Login Here</a>
</div>
{% else %}

<div class="container">
  <br>
  <br>
  <h2 class="text-center">Create An Account </h2>
  <form method="post" >
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <label>User Name</label>
        <input type="text" class="form-control" name="username" required />
      </div>
      <div class="col-md-6">
        <label>User First Name</label>
        <input type="text" class="form-control" name="first_name" required />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>User Last Name</label>
        <input type="text" class="form-control" name="last_name" required />
      </div>
      <div class="col-md-6">
        <label>Email</label>
        <input type="text" class="form-control" name="email" required />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Password</label>
        <input type="password" class="form-control" name="password1" required />
      </div>
      <div class="col-md-6">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="password2" required />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <input type="submit" value="Submit" class="form-control btn btn-primary" />
      </div>
    </div>
  </form>
</div>

<br />

<p>Already have an account ? <a href="{% url 'App_Login:login' %}">Login Here</a></p>

{% endif %} 
{% endblock %}
