{% extends 'base.html' %} 
{% block title_block %}Technician Profile {% endblock %} 
{% block body_block %}
<style>
    .profile-container {
        text-align: center;
        margin-top: 50px;
    }
    .profile-info {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    .profile-picture {
        border-radius: 50%;
    }
    .btn {
        margin-top: 10px;
    }
</style>

<div class="profile-container">
    <h2>Your Profile</h2>
    <div class="profile-info">
        {% if user.user_profile %}
            <img src='/media/{{user.user_profile.profile_pic}}' class="profile-picture" width="100px">
            <br>
            <br>
            <a href="{% url 'App_Login:change_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Picture</a>
        {% else %}
            <img src='/media/profile_pics/avatar-male.jpg' class="profile-picture" width="100px"/>
            <br>
            <br>
            <a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Add Profile Picture</a>
        {% endif %}
    </div>
    {% for i in tec %}
        <div class="profile-info">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Technician Full Name: {{ i.technician_full_name }} </p>
            <p>Technician Phone Number: {{ i.phone }} </p>
            <p>Technician Designation : {{ i.designation }} </p>
            <p>Technician Department : {{ i.department }} </p>
        </div>
    {% endfor %}
    <a href="{% url 'App_Login:technician_change' %}" class="btn btn-warning btn-sm">Change Profile Info</a>
</div>
{% endblock %}
