{% extends 'base.html' %}
{% block title_block %} VIEW TECHNICIAN {% endblock %} 
{% block body_block %}
<div class="container" style="margin-top:50px">
    <h2 class="text-center">View Technician</h2>
    <br><br>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>Technician Name</th>
                <th>Contact</th>
                <th>Designation</th>
                <th>Delete</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in tec %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.job_position}}</td>
                <td><a href="#" onClick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}