{% extends 'base.html' %}
{% load static %}
{% block title_block %} Home {% endblock %} 
{% block body_block %}

{% if user.is_authenticated and user.is_doctor  %}
<br>
<br>
<div class="alert alert-success">Logged in As Doctor! <a > <p>Your User Id is  : {{user.id}} </p> </a></div>
{% elif user.is_authenticated and user.is_technician  %}

<br>
<br>
<div class="alert alert-success">
  Logged in As Technician! <a> <p>Your User Id is  : {{user.id}} </p></a>
</div>
{% elif user.is_authenticated and user.is_dcmadmin  %}
<br>
<br>
<div class="alert alert-success">
  Logged in As Admin! <a> <p>Your User Id is  : {{user.id}} </p></a>
</div>
{% elif user.is_authenticated %}
<br>
<br>
<div class="alert alert-success">
  Logged in As User! <a > <p>Your User Id is  : {{user.id}} </p></a>
</div>
{% else %}
<br>
<br>
<br>
{% endif %}

<img src='/media/DiagnosticCenter.jpg' alt="Diagnostic Center" style="width:100%;height:400px;">

{% endblock %}