{% extends 'base.html' %}
{% block title_block %} Home {% endblock %} 
{% block body_block %}

{% if user.is_authenticated and user.is_doctor  %}
<div class="alert allert-success">
  Logged in As Doctor! <a >Welcome To Our Diagnostic Center !</a>
</div>
{% elif user.is_authenticated and user.is_technician  %}
<div class="alert allert-success">
  Logged in As Technician! <a>Welcome To Our Diagnostic Center !</a>
</div>
{% elif user.is_authenticated and user.is_dcmadmin  %}
<div class="alert allert-success">
  Logged in As Admin! <a>Welcome To Our Diagnostic Center !</a>
</div>
{% elif user.is_authenticated %}
<div class="alert allert-success">
  Logged in As User! <a >Welcome To Our Diagnostic Center !</a>
</div>
{% else %}
<h1> Welcome To Our Diagnostic Center ! </h1>
{% endif %}

{% endblock %}