{% extends 'base.html' %}
{% block title_block %} Prescription {% endblock %} 
{% block body_block %}

<div class="container">
  <br>
  <br>
  <h2 class="text-center">Create Prescription</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label>Doctor Name</label>
    <select name="pres_doctor" class="form-control" readonly>
      {% for doctor in pres_doctor %}
      <option value="{{ doctor.doctor_full_name }}">{{ doctor.doctor_full_name }}</option>
      {% endfor %}
    </select>
    
    <label>Patient Name</label>
    <select name="pres_patient" class="form-control" readonly>
      {% for patient in pres_patient %}
      <option value="{{ patient.name }}">{{ patient.name }}</option>
      {% endfor %}
    </select>
    

    <label>User Name</label>
    <select name="pres_user" class="form-control" readonly >
      {% for i in pres_user %}
      <option value="{{i.first_name}}">{{i.first_name}}</option>
      {% endfor %}
    </select>
    
    <label>Medicine</label>
    <select name="medicine" class="form-control" multiple>
      {% for medicine in medicines %}
      <option value="{{ medicine.id }}">{{ medicine.medicine_name }}</option>
      {% endfor %}
    </select>
    
    <label>Test</label>
    <select name="test" class="form-control" multiple>
      {% for test in tests %}
      <option value="{{ test.id }}">{{ test.test_name }}</option>
      {% endfor %}
    </select>
    
    <label for="text1">Suggestions</label>
    <textarea id="text1" class="form-control" name="text1" required></textarea>
    
    <label>Date</label>
    <input type="date" class="form-control" name="date1" required />
    
    <br />
    <input type="submit" value="Submit" class="form-control btn btn-primary" />
  </form>
</div>

{% if error == "no" %}
<script>
  alert('Record saved successfully');
  window.location.href = "{% url 'Diagnostic_Center:view_prescription' %}";
</script>
{% endif %} 
{% if error == "yes" %}
<script>
  alert("Something went wrong. Please try again.");
</script>
{% endif %} 

{% endblock %}
