{% extends 'base.html' %}
{% block title_block %} Create Test {% endblock %} 
{% block body_block %}

<div class="container">
  <h2 class="text-center">Create Test</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    

    <label>Test Name</label>
    <input type="text" class="form-control" name="test_name" required />
    <label>Test Name Department</label>
    <select name="test_name_department" class="form-control">
      {% for i in test_name_department %}
      <option value="{{i.name}}">{{i.name}}</option>
      {% endfor %}
    </select>
    <label>Test Price</label>
    <input type="text" class="form-control" name="test_price" required />
    <br />
    <input type="submit" value="Submit" class="form-control btn btn-primary" />
  </form>
</div>

{% comment %} {% if error == "no" %}
<script>
  alert('Record  Save Successfully');
  window.location = ('{% url 'Diagnostic_Center:view_test' %}');
</script>
{% endif %} 
{% if error == "yes" %}
<script>
  alert("Something went wrong, Try again");
</script>
{% endif %}  {% endcomment %}

{% endblock %}