{% extends 'base.html' %}
{% block title_block %} Profile {% endblock %} 
{% block body_block %}

<h1 class="text-center">Package</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
 
{% if error == "no" %}
<script>
  alert('Record  Save Successfully');
  window.location = ('{% url 'Diagnostic_Center:view_appointment_package_test' %}');
</script>
{% endif %} 
{% if error == "yes" %}
<script>
  alert("Something went wrong, Try again");
</script>
{% endif %} 
{% endblock %}