
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Update Package {% endblock %}

{% block body_block %}
<div class="container">
    <br>
    <br>
    <h2 class="text-center">Update Package</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_package_name">Package Name:</label>
        <input type="text" class="form-control" name="package_name" id="id_package_name" value="{{ object.package_name }}" required>
        <br>
        <label for="id_total_price">Total Price:</label>
        <input type="number" class="form-control" name="total_price" id="id_total_price" value="{{ object.total_price }}" required>
        <br>
        <label for="id_package_price">Package Price:</label>
        <input type="number" class="form-control" name="package_price" id="id_package_price" value="{{ object.package_price }}" required>
        <br>
        <label for="id_package_test">Package Test:</label>
        <select name="package_test" class="form-control" id="id_package_test" multiple required>
            {% for test in object.package_test.all %}
            <option value="{{ test.pk }}" selected>{{ test.test_name }}</option>
            {% endfor %}
            {% for test in all_tests %}
            <option value="{{ test.pk }}">{{ test.test_name }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-primary" >Update Package</button>
    </form>
</div>
{% endblock %}


