{% extends 'base.html' %} 
{% block title_block %} Prescription Details {% endblock %} 
{% block body_block %}
<style>
    .center {
        text-align: center;
        margin: 20px auto; /* Adjust margin from navbar */
        width: 80%; /* Adjust the width as needed */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }
    .headline-box {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f0f0f0;
    }
    .prescription-details {
        margin-bottom: 20px;
    }
</style>

<div class="center">
    <div class="headline-box">
        <h2>Prescription Details</h2>
    </div>
    
    {% for i in pres %}
    <div class="prescription-details">
        <p>User Name: {{ i.pres_user }} </p>
        <p>Patient Name: {{ i.pres_patient }} </p>
        <p>Doctor Name: {{ i.pres_doctor }} </p>
        
        <ul>
            {% for medicine in i.medicine.all %}
            Medicine: {{ medicine.medicine_name }}
            <br>
            {% endfor %}
        </ul>
        
        <ul>
            {% for test in i.test.all %}
            Test: {{ test.test_name }}
            {% endfor %}
        </ul>
        
        <p>Suggestions: {{ i.text1 }} </p>
        <p>Date: {{ i.date1 }} </p>
    </div>
    {% endfor %}
</div>

{% endblock %}


