<!-- update_doctor_appointment.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Update Doctor Appointment {% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <br>
                <br>
                <h2 class="text-center">Update Test Appointment</h2>
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<p>You are not allowed to view this page. 404</p>
{% endif %}
{% endblock %}