{% extends 'base.html' %}
{% block title_block %} Packages {% endblock %} 
{% block body_block %}
<div class="container" style="margin-top:50px">
    <h2 class="text-center"> Packages </h2>
    {% if  user.is_dcmadmin   %}
    <td><a href="{% url 'Diagnostic_Center:create_package' %}" class="btn btn-danger">Create Package</a></td>
    {% endif %}
    <br><br>
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                
                <th>Package Name</th>
                <th>Total Price</th>
                <th>Package Price</th>
                <th>Details</th>
                {% if  user.is_dcmadmin   %}
                <th>Update</th>
                <th>Delete</th>
                {% endif %}
                
            </tr>
        </thead>
        <tbody>
            {% for i in pac %}
            <tr>
                
                <td>{{i.package_name}}</td>
                <td>{{i.total_price}}</td>
                <td>{{i.package_price}}</td>
                <td><a href="{% url 'Diagnostic_Center:package_detail' i.id  %}"  class="btn btn-danger">Details</a></td>
                {% if  user.is_dcmadmin   %}
                <td><a href="{% url 'Diagnostic_Center:package_update' i.id  %}"  class="btn btn-danger">Update</a></td>
                <td><a href="{% url 'Diagnostic_Center:delete_package' i.id %}" onClick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}