{% extends 'base.html' %}
{% block title_block %} View Report Test {% endblock %} 
{% block body_block %}


<div class="container" style="margin-top:50px">
<h2 class="text-center">View Report Test</h2>
<br><br>
<table class="table table-hover" id="example">
    <thead>
        <tr>
            {% comment %} <th>User Name</th> {% endcomment %}
            <th>Patient Name</th>
            <th>Date</th>
            <th>Test Name</th>
            <th>Result</th>
            <th>Report</th>
            {% comment %} <th>Report Status</th> {% endcomment %}
            {% if user.is_technician %}
            <th>Delete</th>
            <th>Edit</th>
            {% endif %} 
        </tr>
    </thead>
    <tbody>
        {% for i in tr %}
        <tr>
            {% comment %} <th>{{i.user_id}}</th> {% endcomment %}
            <th>{{i.patient_id}}</th>
            <td>{{i.date}}</td>
            <th>{{i.test_id}}</th>
            <td>{{i.result}}</td>
            <td>
                {% if i.report %}
                <a href="{{ i.report.url }}" target="_blank">View Report</a>
                {% else %}
                No Report Uploaded
                {% endif %}
            </td>
            {% comment %} <td>{{i.report_status}}</td> {% endcomment %}
             {% if user.is_technician %}
             <td><a href="{% url 'Diagnostic_Center:delete_test_report' i.id %}" onClick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a></td>
            <td><a href="{% url 'Diagnostic_Center:update_test_report' i.id  %}"  class="btn btn-danger">Edit</a></td>
            {% comment %} <td><a href="{% url 'Diagnostic_Center:prescription_detail' i.id  %}"  class="btn btn-danger">Details</a></td> {% endcomment %}
            {% else %}
            {% comment %} <td><a href="{% url 'Diagnostic_Center:prescription_detail' i.id  %}"  class="btn btn-danger">Details</a></td> {% endcomment %}
           
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}